<h1> Messages </h1>

<ul>
    <% messages.forEach((message) => { %>
    
    <li>
       <p> User: <%= message.user %></p> 
       <p> Message:  <%= message.text %></p> 
        <p> Time: <%= message.added %></p> 

    </li>
   <% }) %>


    <a href="/new">Add a New Message</a>

</ul>