<head>
    <title>Message Board</title>
    <!-- Link to the external CSS file -->
    <link rel="stylesheet" href="/styles.css">
  </head>

<h1> To-Do List App</h1>
<div class="messagesBox">
<ul class="aMessage">
    <% messages.forEach((message) => { %>
    
    <li>
       
       <p> Name:  <%= message.username %></p> 

        <a href="/messages/<%= message.id %>">Message Details</a>

        <form action="/messages/<%= message.id %>/delete" method="POST">
            <button type="submit">Delete Task</button>
          </form>
    </li>
   <% }) %>




   <br>

   <br>
    <a href="/new" class="newMessage">Add a New Message</a>

</ul>

</div>